<div class="col-md-4">
	<form name="newCallForm" class="form-horizontal" role="form" ng-submit="newCall()" novalidate>
		<div class="form-group">
			<label class="control-label">Title:</label>
			<div>
				<input class="form-control" type="text" ng-model="call.title">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">Caller:</label>
			<div class="ui-select">
				<select class="form-control" ng-model="call.caller" ng-options="user.email for user in users">
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">Callee:</label>
			<div class="ui-select">
				<select class="form-control" ng-model="call.callee" ng-options="user.email for user in users">
				</select>
			</div>
		</div>
		<div class="form-group" >
			<label class="control-label">Start time:</label>
			<div>
				<input class="form-control" type="date" ng-model="call.start">
				<input class="form-control" type="time" ng-model="call.start">
			</div>
		</div>
		<div class="form-group" >
			<label class="control-label">End time:</label>
			<div>
				<input class="form-control" type="date" ng-model="call.end">
				<input class="form-control" type="time" ng-model="call.end">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">product:</label>
			<div class="ui-select">
				<select class="form-control" ng-model="call.product" ng-options="product.name for product in products">
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">resources:</label>
			<div class="ui-select">
				<select class="form-control" ng-model="call.resource" ng-options="resource.name for resource in resources">
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label"></label>
			<button class="btn btn-primary" type="submit">
				Create
			</button>
		</div>
	</form>
</div>
<div class="col-md-4">
	<div class="form-group">
		<label class="control-label">Search:</label>
		<div>
			<input class="form-control" type="text" ng-model="searchText">
		</div>
	</div>
	<ul class="list-group">
	  <a href="#" ng-click="openPostData(call)" class="list-group-item" ng-repeat="call in calls | filter:searchText">
			{{call.title}}: {{call.start | date:'short'}} - id: {{call.callId}}
	  </a>
	</ul>
	<button class="btn btn-danger" ng-click="deleteAll()">
		Delete All
	</button>
</div>
<div class="col-md-4" ng-show="postCallData.postCallId">
	<p>	doctor rating: {{postCallData.doctorRating}} </p>
	<p> rep rating: {{postCallData.rating}} </p>
	<p> rep details: {{postCallData.details}} </p>
	<p> start: {{postCallData.start | date: 'short'}} </p>
	<p> length: {{postCallData.callLength}} </p>
	<p> session: {{postCallData.sessionNumber}} </p>
</div>
<div class="col-md-4">
	<div class="alert alert-success alert-dismissible" role="alert" ng-show="alertInfo">
	  	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<strong>Completed: </strong>
		<div class="input-alert" >
			{{alertInfo}}
		</div>
	</div>
</div>
