<div class="col-md-4">
	<div class="form-group">
		<label class="control-label">Search:</label>
		<div>
			<input class="form-control" type="text" ng-model="searchText">
		</div>
	</div>
	<ul class="list-group">
	  <a ng-href="#"class="list-group-item" ng-repeat="resource in resources | filter:searchText">
			{{resource.name}} {{resource.url}}
		<button class="btn btn-xs btn-danger pull-right" ng-click="deleteEntry(resource)">
		  	Delete
		</button>
	  </a>
	</ul>
	<button class="btn btn-danger" ng-click="deleteAll()">
		Delete All
	</button>
</div>

<div class="col-md-4">
	<div class="alert alert-success alert-dismissible" role="alert" ng-show="alertInfo">
	  	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<strong>Completed: </strong>
		<div class="input-alert" >
			{{alertInfo}}
		</div>
	</div>
</div>