<div class="uploads" ng-hide="testEdit">
	<div class="row">
		<div class="col-md-4">
			<h4>Product:</h4>
			<div class="ui-select">
				<select class="form-control" ng-model="selectedProduct" ng-options="selectedProduct.name for selectedProduct in products">
					<option value="">Available Products:</option>
				</select>
			</div>
		</div>
	</div>
	<hr>
	<div class="row" ng-show="selectedProduct.name">
		<div class="col-md-4">
			<div class="panel panel-default ">
				<div class="panel-heading">Call Resources
				</div>
				<div class="panel-body">
					<h3 ng-hide="selectedProduct.callResources">There are no available resources...</h3>
					<ul ng-show="selectedProduct.callResources" class="list-group">
					  <a href="#"class="list-group-item" ng-repeat="resource in selectedProduct.callResources">
						  <strong>{{resource.name}}:</strong> {{resource.desc}}
					  </a>
					</ul>
					<hr>
					<add-call-resource></add-call-resource>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default ">
				<div class="panel-heading">Training
				</div>
				<div class="panel-body">
					<h4>Training:</h4>
					<h3 class="ui-select" ng-hide="selectedProduct.training">No existing training for this product</h3>
					<div class="ui-select" ng-show="selectedProduct.training">
						<select class="form-control" ng-model="selectedProduct.selectedTraining" ng-options="selectedTraining.name for selectedTraining in selectedProduct.training">
							<option value="">Available Training:</option>
						</select>
					</div>
					<hr ng-show="selectedProduct.selectedTraining.resources">
					<ul ng-show="selectedProduct.selectedTraining.resources" class="list-group">
					  <a href="#"class="list-group-item" ng-repeat="resource in selectedProduct.selectedTraining.resources">
						  <strong>{{resource.name}}:</strong> {{resource.desc}}
						  	<button class="btn btn-xs btn-primary pull-right" ng-click="addTest(resource)">
							  	addTest
							</button>
					  </a>
					</ul>
					<hr>
					<add-training-resource ng-show="selectedProduct.selectedTraining.name"></add-training-resource>
					<hr ng-show="selectedProduct.selectedTraining.name">
					<h4>Create new Training</h4>
					<form name="createTrainingForm" class="form-horizontal" role="form" ng-submit="createTrainingForm.$valid && addTraining(training)" novalidate>
						<div class="form-group">
							<label class="col-lg-3 control-label">Name:</label>
							<div class="col-lg-8">
								<input class="form-control" type="text" ng-model="training.name" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-3 control-label">Due date:</label>
							<div class="col-lg-8">
								<input class="form-control" type="date" ng-model="training.dueDate" required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label"></label>
							<div class="col-md-8">
								<input type="submit" class="btn btn-primary" value="Create">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<test ng-show="testEdit"></test>