<form name="professionalForm" class="form-horizontal" role="form" ng-submit="professionalForm.$valid && medRegisterCtrl.save(profile)" novalidate>
	<div class="form-group">
		<label class="col-md-3 control-label">Type of degree:</label>
		<div class="col-md-8">
			<div class="ui-select">
				<select class="form-control" ng-model="profile.degree" ng-options="degree.name for degree in degreesList">
					<option value="">Choose one:</option>
				</select>
			</div>
		</div>
	</div>
	<div class="form-group" >
		<label class="radio col-md-3 control-label">
		  <input  type="radio" ng-model="currRadio" value="graduate"> Graduate
		</label>
		<label class="radio col-md-2 control-label">
		  <input  type="radio" ng-model="currRadio" value="student"> Student
		</label>
	</div>
	<div class="form-group" ng-show="medRegisterCtrl.isRadio('graduate')">
		<label class="col-md-3 control-label"></label>
		<div class="col-md-8">
			<h6>Upload your Graduate Certificate</h6>
			<input type="file" class="form-control">
		</div>
	</div>
	<div class="form-group" ng-show="medRegisterCtrl.isRadio('student')">
		<label class="col-md-3 control-label">Current year of studies:</label>
		<div class="col-md-8">
			<select class="form-control" ng-model="profile.currentYear" ng-options="year for year in [1,2,3,4]">
				<option value="">Choose one:</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-3 control-label">Years of Experience:</label>
		<div class="col-md-8">
			<input class="form-control" type="number" ng-model="profile.experience" min="0" max="99">
			<div>
				<label class="control-label">
					<input type="checkbox" ng-model="profile.salesExperience">Sales Experience
				</label>
			</div>
			<div>
				<label class="control-label">
				<input type="checkbox" ng-model="profile.pharmaExperience">Pharma Experience
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-3 control-label">Work hours per week:</label>
		<div class="col-md-8">
			<input class="form-control" type="number" ng-model="profile.workHours" min="0" max="99">
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-3 control-label">ID number:</label>
		<div class="col-md-8">
			<input class="form-control" type="number" ng-model="profile.idNumber" min="0">
			<h6>Upload your ID scan</h6>
			<input type="file" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-3 control-label"></label>
		<div class="col-md-8">
			<input type="submit" class="btn btn-primary" value="Submit">
		</div>
	</div>
</form>